//@import "vendor/project";
@import "colors";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);

//angular only ng cloak
[ng\:cloak],[ng-cloak],[data-ng-cloak],.ng-cloak{
  display: none !important;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body{

  font: 20px 'PT Sans', sans-serif;
  padding-top: 70px;
  background: #262626 url("img/grid_40.png");
  //color: #ffffff;

  //line-height: 1.5;
}


.navbar {

  min-height: 80px;
  margin-bottom: 0;
  border: 1px solid transparent;
  background-color: #ffffff;
}
.navbar-default{
 background-color: #ffffff;
}

.mast{

  background: url("img/vicki_bag_final.jpg")no-repeat;
  background-size:100%;
  padding: 10% 0 15% 0;
  height: 400px;

  .billboard{

       padding-top: 100px;
    h1{
      color: #fff;
      font-family: 'PT Serif', serif;
      font-weight: 700;
      font-size: 1.5em;
      text-align: center;
    }

    h2{
      font-size: 1.5em;
      color: #000;
      font-family: 'PT Serif', serif;
      font-weight: 700;
    }


  }



}


.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  color: #ffffff;
  text-transform: uppercase;

}





.panel-primary {
  border-color: transparent;

  .panel-heading {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
  }
}
.panel {
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.services-top{
  background-color:rgba(38,38,38,0.9);

  margin-top:0;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #ffffff;


}

.mot-v{
  background-color:rgba(255,255,255,0.9);
  //height: 650px;
  margin-top:0;
  padding-top: 80px;
  padding-bottom: 80px;


  h1,h3{
    color: #262626;
  }


  .ipad{
    padding-left: 160px;
  }
}

.testimonial-panel{
  background-color:rgba(38,38,38,0.9);

  margin-top: 0;
  padding-top: 80px;
  padding-bottom: 80px;

}

.personal-training{

  background-color:rgba(38,38,38,0.9);
  //font-size: 14px;
  margin-top: 0;
  padding-top: 80px;
  padding-bottom: 90px;
  color: #ffffff;
  h2{
    color: #fff;
    font-family: 'PT Serif', serif;
    font-weight: 700;
  }
}

.aboutPanel{
  background-color:rgba(38,38,38,0.9);

  margin-top: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #ffffff;
  h2{
    color: #fff;
    font-family: 'PT Serif', serif;
    font-weight: 700;
  }
}

footer{

  bottom: 0;
  width: 100%;
  position: relative;
  height: 100px;
  padding-top: 20px;
  font-size: 16px;

  p{
    color: #000;
  }

  img{
    padding: 0 3px 3px 0;
  }
}

//start paralax images
.para-one{
   background: #ffffff url('img/bench_man.jpg')no-repeat;
   background-size: cover;
   height: 500px;
   //padding: 10% 0 15% 0;
 }

.para-two{
  background: #ffffff url('img/Terry-working-with-women.jpg')no-repeat;
  background-size: cover;
  height: 500px;
  //padding: 10% 0 15% 0;
}

.para-three{
  background: #ffffff url('img/terry_vik_room.jpg')no-repeat;
  background-size: cover;
  height: 800px;
  //padding: 10% 0 15% 0;
}

.para-four{
  background: #ffffff url('img/Terry-working-with-client.jpg')no-repeat;
  background-size: cover;
  height: 800px;
  //padding: 10% 0 15% 0;
}
.para-five{
  background: #ffffff url('img/nutrition.jpg')no-repeat;
  background-size: cover;
  height: 800px;
  //padding: 10% 0 15% 0;
}
.para-six{
  background: #ffffff url('img/terry_man_lift2.jpg')no-repeat;
  background-size: cover;
  height: 500px;
  //padding: 10% 0 15% 0;
}


//modals
.rate .modal-dialog {
  width: 1100px;
  margin: 30px auto;
}

th {
  text-align: center;
}


.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  width: 200px;
  padding: 1px;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  white-space: normal;
}

//media q

@media screen and (min-width: 1030px) {
  .para-six{
    background: #ffffff url('img/terry_man_lift2.jpg')no-repeat;
    background-size: cover;
    height: 800px;
    //padding: 10% 0 15% 0;
  }


  .navbar {

    min-height: 110px;
    margin-bottom: 0;
    border: 1px solid transparent;
    background-color: #ffffff;
  }

  .rate .modal-dialog {
    width: 1100px;

  }

  .navbar-nav.navbar-right{
    padding-top: 15px;
  }


  .mast{

    background: url("img/vicki_bag_final.jpg")no-repeat;
    background-size:cover;
    padding: 10% 0 15% 0;
    height: 800px;

    .billboard{

      padding-top: 140px;
      h1{
        color: #fff;
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-size: 2.5em;
        text-align: center;
        text-transform: uppercase;
      }

      h2{
        color: #000;
        font-family: 'PT Serif', serif;
        font-weight: 700;
      }


    }



  }
  
}

@media screen and (max-width: 769px) {

  .rate .modal-dialog {
    width: 1100px;

  }


  .mast{

    background: #843534 url("img/tall_girl_terry_bw.jpg")no-repeat ;
    background-size:cover;
    padding: 10% 0 15% 0;
    height: 400px;

    .billboard{

      padding-top: 140px;
      h1{
        color: #fff;
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-size: 1.2em;
        text-align: center;
      }

      h2{
        color: #000;
        font-family: 'PT Serif', serif;
        font-weight: 700;
      }


    }



  }

  .services-top{
    background-color:rgba(38,38,38,0.9);

    margin-top:0;
    padding-top: 80px;
    padding-bottom: 80px;


    .panel-title {
      font-weight: 700;
      font-family: 'PT Serif', serif;
      font-size: 1.0em;
      color: #ffffff;



    }


    .panel-body{

      p{
        font-family: 'PT Serif', serif;
        font-size: 0.8em;
      }

    }



  }


  .personal-training{

    background-color:rgba(38,38,38,0.9);
    font-size: 16px;
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    h2{
      color: #fff;
      font-size: 20px;
      font-family: 'PT Serif', serif;
      font-weight: 700;
    }
  }

.free{

  h1{
    color: #262626;
    //font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 1.2em;
    //text-align: center;
  }

  h3{
    color: #262626;
   //font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 0.9em;
    //text-align: center;
  }

}


  .aboutPanel{
    background-color:rgba(38,38,38,0.9);

    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 14px;
    h2{
      font-size: 20px;
      color: #fff;
      font-family: 'PT Serif', serif;
      font-weight: 700;
    }
  }

  .para-one{

    height: 300px;
    //padding: 10% 0 15% 0;
  }


  .para-two{

    height: 300px;
    //padding: 10% 0 15% 0;
  }

  .para-three{
    background: #ffffff url('img/terry_vik_room.jpg')no-repeat;
    background-size: cover;
    height: 300px;
    //padding: 10% 0 15% 0;
  }


  .para-four{
    background: #ffffff url('img/Terry-working-with-client.jpg')no-repeat;
    background-size: cover;
    height: 300px;
    //padding: 10% 0 15% 0;
  }

  .para-five{
    background: #ffffff url('img/nutrition.jpg')no-repeat;
    background-size: cover;
    height: 300px;
    //padding: 10% 0 15% 0;
  }
  .para-six{
    background: #ffffff url('img/terry_man_lift2.jpg')no-repeat;
    background-size: cover;
    height: 300px;
    //padding: 10% 0 15% 0;
  }

  .start-help{
    p{
      color: #262626 !important;
    }
  }
  footer{

    bottom: 0;
    width: 100%;
    position: relative;
    height: 200px;
    padding-top: 20px;
    font-size: 16px;

    p{
      color: #000;
    }
    img{
      padding: 0 3px 3px 0;
    }
  }


  .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    width: 200px;
    padding: 1px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    white-space: normal;
  }

  .navbar {

    min-height: 80px;
    margin-bottom: 0;
    border: 1px solid transparent;
    background-color: #ffffff;
  }


}

