@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);
[ng\:cloak], [ng-cloak], [data-ng-cloak], .ng-cloak {
  display: none !important; }

body {
  font: 20px 'PT Sans', sans-serif;
  padding-top: 70px;
  background: #262626 url("img/grid_40.png"); }

.navbar {
  min-height: 110px;
  margin-bottom: 0;
  border: 1px solid transparent;
  background-color: #ffffff; }

.navbar-default {
  background-color: #ffffff; }

.mast {
  background: url("img/vicki_bag.jpg") no-repeat;
  background-size: cover;
  height: 700px; }
  .mast h1 {
    color: #fff;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 4.5em;
    text-align: center; }

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  color: #ffffff;
  text-transform: uppercase; }

.panel-primary {
  border-color: transparent; }
  .panel-primary .panel-heading {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent; }

.panel {
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.services-top {
  background-color: rgba(38, 38, 38, 0.9);
  margin-top: 0; }

.mot-v {
  background-color: rgba(38, 38, 38, 0.9);
  height: 650px;
  margin-top: 0; }

.testimonial-panel {
  background-color: rgba(38, 38, 38, 0.9);
  height: 500px;
  margin-top: 0;
  padding-top: 120px; }

footer {
  bottom: 0;
  width: 100%;
  position: relative;
  height: 100px; }

.para-one {
  background: white url("img/bench_man.jpg") no-repeat;
  background-size: cover;
  height: 500px; }

.para-two {
  background: white url("img/debbie_training.jpg") no-repeat;
  background-size: cover;
  height: 500px; }

.modal-dialog {
  width: 1100px;
  margin: 30px auto; }

th {
  text-align: center; }
