<div class="para-six"></div>
    <div class="aboutPanel clearfix" ng-controller="aboutCtrl">
    <div class="container">




                 <div class="row">
                <div class="col-sm-2">



                    <ul class="nav nav-pills nav-stacked">
                        <li><a href ng-click="aboutComp();">Company</a></li>
                        <li><a href ng-click="terryBio();">Terry</a></li>
                        <li><a href ng-click="debbieBio();">Debbie</a></li>
                        <li><a href ng-click="trainer_2Bio();">Cathy</a></li>
                    </ul>


                </div>


                <div class="col-sm-9">






                    <div ng-switch on="showSecret">
                        <div ng-switch-when="1"><div ng-include="'company/terry.tpl.html'"></div>

                        </div>
                        <div  ng-switch-when="2">
                            <div ng-include="'company/debbie.tpl.html'"></div>


                        </div>

                        <div  ng-switch-when="3">

                            <div ng-include="'company/cathy.tpl.html'"></div>

                        </div>


                        <div ng-switch-default>

                            <div ng-include="'company/company.tpl.html'"></div>
                        </div>
                    </div>










                </div>









            </div>
        </div>

    </div>
</div>